*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}
.p-fixed{
    position: fixed;
}

header{
    background-color: #dd702f;
    height: 3rem;
}

header section.main-header{
    background-color: aqua;
    height: 2rem;
    width: 70%;
    top: 1%;
    right: 15%;
    border: 1px black solid;
}


main section.row-product{
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    height: 20rem;
    width: 50rem;
    border: 1px solid black;
    top: 100px;
    left: 100px;
}

main section.row-product > article.product{
    margin: 1rem .5rem;
    height: 90%;
    width: 30%;
    background-color: #eaeaea;
    border: 1px solid black;
}


footer{
    background-color: #202020;
    height: 4rem;
}