*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}
.p-fixed{
    position: fixed;
}

.flex{
    display: flex;
}
header{
    background-color: #dd702f;
    box-shadow: 0 2px rgba(0, 0, 0, 0.178);
    height: 3rem;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

header section.main-header{
    height: 2rem;
    width: 70%;
}

nav.gender{
    display: flex;
    flex-direction: row;
    width: 30%;
}
header nav.gender ul{
    list-style: none;
    display: flex;
    align-items: center;
}

header nav.gender ul > li{
    padding-right: .5rem;
}


header section.main-header div.box-logo{
    width: 40%;
    justify-content: center;
}

header section.main-header div.box-logo > #logo{
    width: 10rem;
}

header section.main-header div.entitis {
    color: white;
    width: 30%;
    justify-content: end;
    align-items: center;

}
header section.main-header div.entitis > span{
    padding-left: .5rem;
    font-size: 1.5rem;
}


                                    /* MAIN*/

main section.row-product{
    margin: 4rem auto;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 21rem;
}

main section.row-product > article.product{
    margin: 1rem .5rem;
    width: 24%;
    height: 100%;
    background-color: #eaeaea;
}

main section.row-product > article.product img{
    width: 100%;
    height: 100%;
}
main section.row-product > article.product span{
    padding: .2rem;
    color: white;
}
main section.row-product > article.product span.bk-red{
    background-color: #d72929;
    bottom: 10px;
    left: 0;
}

main section.row-product > article.product span.bk-green{
    background-color: #478120;
    bottom: 10px;
    left: 40px;
    margin-left: .5rem;
}

/*Description bottom article product*/
main section.row-product > article.product div.product-description p{
    font-size: .8rem;
}

main section.row-product > article.product div.product-description p.font-red{
    color: red;
    font-weight: bold;
}
main section.row-product > article.product div.product-description span{
    color: black;
    font-weight: bold;
    text-decoration: line-through;
}



footer{
    background-color: #202020;
    height: 20rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

footer section.main-footer{
    width: 70%;
    border: 1px solid white;
    height: 70%;

}

footer nav.signature ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

footer nav.signature ul > li{
    padding-right: .5rem;
}

footer section.main-footer nav.social{
    border: 1px solid white;
}